.bg {
  background-position: top 0 right 20%;
}

@media (min-width: 1024px) {
  .bg {
    background-position: top 0 right 10%;
  }
}

.gradient1 {
  background: linear-gradient(90deg, #000000 20.29%, rgba(0, 0, 0, 0) 100%);
}

.gradient2 {
  background: linear-gradient(360deg, #000000 13.96%, rgba(0, 0, 0, 0) 107.34%);
}
